
body{
    background-color: #8479e6;
}

.pageArea{
    border-radius: 10px;
}

#title{
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 0;
    width: 40%
}

#main{
    background-color: #473ac4;
    margin-left: 10px;
    font-size: 16addpx;
}

#img-div{
    background-color: #8479e6;
    width: 85%;
    margin: 5%;
    margin-bottom: 0;
}

#tributeImage{
    width: 90%;
    height: 75%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}

#img-caption {
    bottom: 0;
    right: 0;
    margin-bottom: 5%;
    margin-top: 0;
    margin-left: 30%;
    margin-right: 30%;

}

#timelineHeader{
    margin-left: 35%;
    margin-right: 35%;
    font-size: 24px;
}

#quote{
    margin-right: 5%;
    margin-left: 5%;
}

#tribute-link{
    font-size: 24px;
}